body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("public\img\img-inversion-encabezado.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
