@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-surface;
    @apply bg-white;
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-body-dark;
  }
}

@tailwind components;
@tailwind utilities;

p {
  @apply leading-[1.6];
}
@font-face {
  font-family: "MontserratFont";
  src: url("/public/fonts/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: "RalewayFont";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: "PoppinsFont";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

.header {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("/img/img-inversion-encabezado.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(63, 63, 63, 0.68);
  z-index: 1;
}

.content {
  position: relative; /* Cambiado a relative */
  top: 10vh; /* Mueve el bloque hacia abajo en un 50% de la altura del viewport */
  z-index: 2;
}

.logo {
  position: absolute;
  top: 5px;
  left: 35px;
  width: 300px;
  height: auto;
  z-index: 3;
}

.header-text {
  position: absolute;
  top: 150px;
  left: 70px;
  font-size: 50px;
  color: white;
  font-family: "MonserratFont", montserrat;
  font-weight: bold;
  line-height: 55px;
  z-index: 3;
}

.linea {
  position: absolute;
  top: 342px;
  left: 240px;
  width: 280px;
  z-index: 4;
}

.boton-azul {
  position: absolute;
  top: 400px; /* Ajusta según sea necesario */
  left: 70px; /* Ajusta según sea necesario */
  font-family: "RalewayFont", RalewayFont;
  font-weight: bold;
  z-index: 4;
}

.grey-section {
  position: absolute; /* Fijar la posición */
  top: 595px; /* Desde la parte superior */
  left: 0; /* Desde la izquierda */
  width: 100%; /* Ancho completo */
  height: 190px; /* La mitad de la altura de la pantalla */
  background-color: #f3f4f6; /* Color gris */
  z-index: -1; /* Para que esté detrás del contenido */
}

.seccion-inversion {
  position: absolute; /* Fijar la posición */
  top: 795px; /* Desde la parte superior */
  left: 0; /* Desde la izquierda */
  width: 100%; /* Ancho completo */
  height: 600px; /* La mitad de la altura de la pantalla */
  justify-content: center;
  background-color: #ffffff; /* Color gris */
  z-index: -1; /* Para que esté detrás del contenido */
}

.titulo {
  position: absolute; /* Fijar la posición */
  top: -355px; /* Desde la parte superior */
  left: 0px; /* Desde la izquierda */
  width: 100%; /* Ancho completo */
  height: 800px; /* La mitad de la altura de la pantalla */
  justify-content: center;
  color: #000000;
  font-size: 260%;
  font-family: "Poppins", Poppins;
  z-index: 1; /* Para que esté detrás del contenido */
  display: flex;
}

.subtitulo {
  position: absolute; /* Fijar la posición */
  top: -300px; /* Desde la parte superior */
  left: 0px; /* Desde la izquierda */
  width: 100%; /* Ancho completo */
  height: 1000px; /* La mitad de la altura de la pantalla */
  justify-content: center;
  color: #000000;
  font-size: 100%;
  font-family: "RalewayFont", Poppins;
  z-index: 1; /* Para que esté detrás del contenido */
  display: flex;
}

.group:hover .group-hover\:block {
  display: block;
  justify-content: center;
}

.seccion-white {
  position: absolute; /* Fijar la posición */
  top: 1195px; /* Desde la parte superior */
  left: 0; /* Desde la izquierda */
  width: 100%; /* Ancho completo */
  height: 150px; /* La mitad de la altura de la pantalla */
  background-color: #ffffff; /* Color gris */
  z-index: 1; /* Para que esté detrás del contenido */
}

.custom-input-container {
  max-width: 200px; /* Ajusta este valor según sea necesario */
  margin-left: 50px; /* Mueve el contenedor a la izquierda */
  margin-top: -170px;
  z-index: 4;
}

/* Contenedores dropdown */
.personalizacion-dropdown {
  max-width: 200px; /* Ajusta este valor según sea necesario */
  margin-left: 50px; /* Mueve el contenedor a la izquierda */
  margin-top: 20px;
  z-index: 1; /* Z-index bajo para el contenedor */
  position: relative; /* Necesario para el z-index funcionar */
}

.seccion-opciones-inversion {
  position: absolute; /* Fijar la posición */
  top: 210px; /* Desde la parte superior */
  left: 0; /* Desde la izquierda */
  width: 100%; /* Ancho completo */
  height: 410px; /* La mitad de la altura de la pantalla */
  background-color: #0a1d56; /* Color gris */
  z-index: 5; /* Para que esté detrás del contenido */
}

.boton-inversion {
  max-width: 200px; /* Ajusta este valor según sea necesario */
  margin-left: 1030px; /* Mueve el contenedor a la izquierda */
  margin-top: -236px;
  z-index: 1; /* Z-index bajo para el contenedor */
  font-family: "RalewayFont", RalewayFont;
  font-weight: bold;
  position: relative; /* Necesario para el z-index funcionar */
}

.encabezado-opcion-inversiones {
  position: absolute; /* Fijar la posición */
  top: 50px; /* Desde la parte superior */
  left: -295px; /* Desde la izquierda */
  width: 100%; /* Ancho completo */
  height: 800px; /* La mitad de la altura de la pantalla */
  justify-content: center;
  color: #ffffff;
  font-size: 260%;
  font-family: "Poppins", Poppins;
  z-index: 4; /* Para que esté detrás del contenido */
  display: flex;
}

.parrafo-inversion {
  color: #ffffff;
  font-size: 105%;
  font-family: "RalewayFont", RalewayFont;
  margin-top: 180px;
  margin-left: 60px;
  z-index: 4; /* Para que esté detrás del contenido */
  display: flex;
}

.imagen-seccion-inversion {
  position: absolute;
  top: 45px; /* Desde la parte superior */
  width: 30%;
  left: 723px;
  z-index: 6; /* Para que esté detrás del contenido */
  display: flex;
}

button {
  font-family: "RalewayFont", RalewayFont;
}

.seccion-frase {
  position: absolute; /* Fijar la posición */
  top: 610px; /* Desde la parte superior */
  left: 0; /* Desde la izquierda */
  width: 100%; /* Ancho completo */
  height: 560px; /* La mitad de la altura de la pantalla */
  background-color: #f4f4f4; /* Color gris */
  z-index: 4; /* Para que esté detrás del contenido */
}

.seccion-frase::before {
  content: "";
  position: absolute;
  background-image: url("/img/Imagen2.png");
  top: -50px; /* Desde la parte superior */
  left: 0; /* Desde la izquierda */
  width: 100%; /* Ancho completo */
  height: 350px; /* La mitad de la altura de la pantalla */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 4;
}

h2 {
  display: flex; /* Utiliza flexbox */
  position: absolute; /* Fijar la posición */
  justify-content: center;
  color: #000000;
  font-size: 230%;
  font-family: "Poppins", Poppins;
  z-index: 12; /* Para que esté detrás del contenido */
}

h4 {
  display: flex; /* Utiliza flexbox */
  position: absolute; /* Fijar la posición */
  justify-content: center;
  color: #0a1d56;
  font-size: 130%;
  font-family: "RalewayFont", RalewayFont;
  z-index: 12; /* Para que esté detrás del contenido */
}
